---
# PVE Network Configuration Playbook
#
# Usage examples:
#
#   # Re-IP and rename (single reboot)
#   ansible-playbook -i inventory/remote-dev.yml playbooks/pve-network.yml \
#     -e ansible_host=OLD_IP \
#     -e pve_network_tasks='["reip","rename","reboot"]' \
#     -e pve_new_ip=10.0.12.62 \
#     -e pve_new_gateway=10.0.12.1 \
#     -e pve_new_hostname=mother \
#     -e pve_new_fqdn=mother.core
#
#   # Disable IPv6 (use JSON for boolean values)
#   ansible-playbook -i inventory/remote-dev.yml playbooks/pve-network.yml \
#     -e ansible_host=10.0.12.62 \
#     -e pve_network_tasks='["ipv6","reboot"]' \
#     -e '{"pve_ipv6_enabled": false}'
#
#   # Enable IPv6
#   ansible-playbook -i inventory/remote-dev.yml playbooks/pve-network.yml \
#     -e ansible_host=10.0.12.62 \
#     -e pve_network_tasks='["ipv6","reboot"]' \
#     -e '{"pve_ipv6_enabled": true}'
#
#   # Convert to static IP
#   ansible-playbook -i inventory/remote-dev.yml playbooks/pve-network.yml \
#     -e ansible_host=CURRENT_IP \
#     -e pve_network_tasks='["static","reboot"]' \
#     -e pve_new_ip=10.0.12.100 \
#     -e pve_new_gateway=10.0.12.1

- name: Configure PVE network settings
  hosts: target
  become: true
  gather_facts: true

  roles:
    - pve-network
